body {
  text-align: center;
  background-color: rgb(251, 251, 251);
}

#Carta {
  margin-left: 35%;
  width: 30%;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 20%;
  height: 20%;
}

#containerGrid {
  width: '100%';
  margin-top: 20px;
}

#containerAgrPrenda {
  /* background-color:#282c34; */
 margin-left: 800px;
   margin-top: 10px;
}

#inputStyle {
  padding-top: 20px;
  text-align: center;
}

#containerEditarPrenda {
  text-align: center;
  width: '100%';
  margin-top: 60px;
  margin-bottom: 20px;
}

#containerEquipo {
  align-items: center;

}

#cartaEquipo {
  margin-top: 55px;
  margin-left: 41%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}